.animatedLetter {
  opacity: 0;
  display: inline-block;
  animation: fadeInUp 0s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

%triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.trianglePO {
  @extend %triangle;
  border-top: 20px solid var(--primary);
}
.triangleEE {
  @extend %triangle;
  border-top: 20px solid var(--color-role-ee);
}
.triangleGG {
  @extend %triangle;
  border-top: 20px solid var(--color-role-gg);
}
.triangleSM {
  @extend %triangle;
  border-top: 20px solid var(--color-role-sm);
}
.bounceIndicator {
  text-align: center;
  animation: bounce 1s linear infinite;
  cursor: pointer;
  user-select: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
